@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Dropdown";

    var selection = Request.Form["pageselection"];
}
@section head{

    <link href="~/Content/MyCustomStyles.css" rel="stylesheet" />
}

@section banner{
    <h1>DropDown (select) for Razor Form Samples</h1>
}
@if (IsPost)
{
    //no button decision (only one button)
    //validation
    //The validation in this sample will be done inside the switch. If a page was not selected then the switch default will handle the select ... option
    switch(selection.ToUpper())
    {
        case "TEXTBOXES":
            {
                //the opject class for data going out is Response. The method to direct yourself to another page is .Redrict(page). We will use relative addressing to get to another page.
                Response.Redirect("TextBoxes.cshtml");
                break;
            }
        case "RADIOBUTTONS":
            {
                Response.Redirect("RadioButtons.cshtml");
                break;
            }
        case "CHECKBOXES":
            {
                Response.Redirect("CheckBoxes.cshtml");
                break;
            }
        default:
            {
                <p><span style="color:firebrick"><strong>Select the sample you wih to view.</strong></span></p>
                break;
            }
    }
}

<form id="theform" method="post">
    <div class="row">
        <div class="col-md-offset-4">
            <label for="pageselection">Select control example:</label>
            &nbsp;&nbsp;
            <select id="pageselection" name="pageselection">
                <option value="">select ...</option>
                <option value="Textboxes">Textboxes</option>
                <option value="RadioButtons">RadioButtons</option>
                <option value="Checkboxes">Checkboxes</option>
            </select>
            &nbsp;&nbsp;
            <button type="submit" id="formbutton" name="formbutton" value="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>
@section footer{
    &copy; CPSC1517 Nait, all rights reservered
}




